@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
body {
  overflow-x: hidden;
  width: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  padding: 0;
  margin: 0;
}

nav.onScrolled {
  background: #fff !important;
  transition: .2s;
}

nav.onScrolled .navbar-collapse .navbar-login-regist .signUp {
  background: #C0262B !important;
  color: #fff !important;
}

.hero {
  padding-top: 176px;
  padding-bottom: 278px;
}

.hero .container .hero-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero .container .hero-wrapper .content-hero {
  width: 50%;
}

.hero .container .hero-wrapper .content-hero .main-text-hero .sub-info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.hero .container .hero-wrapper .content-hero .main-text-hero .sub-info img {
  margin-right: 8px;
}

.hero .container .hero-wrapper .content-hero .main-text-hero .sub-info p {
  margin: 0;
  color: #C0262B;
  font-weight: 700;
  letter-spacing: .5px;
}

.hero .container .hero-wrapper .content-hero .main-text-hero h1 {
  font-weight: 700;
  color: #111111;
  letter-spacing: .5px;
  margin-bottom: 36px;
}

.hero .container .hero-wrapper .content-hero .main-text-hero p {
  font-weight: 400;
  color: #111111;
  letter-spacing: .5px;
  margin-bottom: 64px;
}

.hero .container .hero-wrapper .content-hero .main-follow-hero {
  display: flex;
  flex-direction: column;
}

.hero .container .hero-wrapper .content-hero .main-follow-hero .images-profil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 45%;
  margin-bottom: 12px;
}

.hero .container .hero-wrapper .content-hero .main-follow-hero .images-profil img {
  max-width: 44px;
  max-height: 44px;
  border-radius: 5px;
}

.hero .container .hero-wrapper .content-hero .main-follow-hero .info-totaly-follow {
  margin: 0;
  color: #B6B6B6;
  letter-spacing: .5px;
}

.hero .container .hero-wrapper .images-hero {
  width: 50%;
  position: relative;
}

.hero .container .hero-wrapper .images-hero .wrapper-hero-images {
  display: flex;
  justify-content: flex-end;
}

.hero .container .hero-wrapper .images-hero .wrapper-hero-images img {
  width: 100%;
}

.hero .container .hero-wrapper .images-hero .wrapper-icon {
  position: absolute;
  bottom: -52px;
  left: -205px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1);
}

.hero .container .hero-wrapper .images-hero .wrapper-icon img {
  background-color: #F7F7F7;
  padding: 10px 8px;
  max-height: 44px;
  max-width: 44px;
  border-radius: 5px;
}

.point-of-career {
  margin: 144px 0;
}

.point-of-career .container .wrapper-point {
  display: flex;
  align-items: flex-end;
}

.point-of-career .container .wrapper-point .images-inner {
  width: 50%;
  margin-right: 64px;
}

.point-of-career .container .wrapper-point .images-inner img {
  width: 100%;
}

.point-of-career .container .wrapper-point .images-inner img::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.point-of-career .container .wrapper-point .wrapper-content-inner {
  width: 50%;
  padding-bottom: 10px;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .text-point-inner .title-point-career {
  margin-bottom: 42px;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .text-point-inner .title-point-career h1 {
  font-weight: 700;
  margin: 0;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .text-point-inner .paragraf-point {
  margin-bottom: 44px;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .text-point-inner .paragraf-point p {
  color: #6D6D6D;
  font-weight: 400;
  letter-spacing: .5px;
  margin-bottom: 24px;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .wrapper-partner .paragraf-title p {
  color: #6D6D6D;
  letter-spacing: .5px;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .wrapper-partner .partner-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .wrapper-partner .partner-inner img {
  max-width: 100px;
  max-height: 48px;
  margin-bottom: 1rem;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .button-register {
  padding: 16px 28px;
  border: none;
  border-radius: 5px;
  background: #C0262B;
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

.point-of-career .container .wrapper-point .wrapper-content-inner .button-register:hover {
  transition: .3s;
  background: #a12a2a;
}

.line {
  border: 1px solid #D9D9D9;
  margin-bottom: 100px;
}

.best-program {
  padding: 44px 0 144px 0;
}

.best-program .container .wrapper-best-program {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.best-program .container .wrapper-best-program .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 42px;
}

.best-program .container .wrapper-best-program .header h1 {
  color: #C0262B;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}

.best-program .container .wrapper-best-program .header p {
  max-width: 600px;
  color: #6D6D6D;
  margin: 0;
}

.best-program .container .wrapper-best-program .inner-best-program {
  background-image: url(/careerprogram/assets/img/background-program.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 68px 144px 4px 144px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.best-program .container .wrapper-best-program .inner-best-program .program-list {
  background: #fff;
  padding: 44px 44px;
  border-radius: 15px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.16);
  margin-bottom: 64px;
  max-width: 474px;
}

.best-program .container .wrapper-best-program .inner-best-program .program-list .name-icon-program {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 24px;
  width: 100%;
}

.best-program .container .wrapper-best-program .inner-best-program .program-list .name-icon-program h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0;
  width: 70%;
}

.best-program .container .wrapper-best-program .inner-best-program .program-list .info-program p {
  padding: 24px 0 44px 0;
  color: #6D6D6D;
  margin: 0;
}

.best-program .container .wrapper-best-program .inner-best-program .program-list .button-program {
  display: flex;
  justify-content: flex-end;
}

.best-program .container .wrapper-best-program .inner-best-program .program-list .button-program a {
  padding: 8px 28px;
  text-decoration: none;
  background: #C0262B;
  border-radius: 5px;
  color: #fff;
  transition: .3s;
}

.best-program .container .wrapper-best-program .inner-best-program .program-list .button-program a:hover {
  transition: .3s;
  background: #a12a2a;
}

.faq {
  padding-bottom: 274px;
}

.faq .container .faq-inner .title-faq {
  margin-bottom: 64px;
}

.faq .container .faq-inner .title-faq h1 {
  margin: 0;
  color: #C0262B;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: .5px;
}

.faq .container .faq-inner .main-faq {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.faq .container .faq-inner .main-faq .accordion {
  width: 55%;
}

.faq .container .faq-inner .main-faq .accordion .accordion-item .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: 400;
  padding: 28px;
  border-top: none;
  border-bottom: 1px solid #D9D9D9;
  letter-spacing: .5px;
}

.faq .container .faq-inner .main-faq .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url(/careerprogram/assets/img/accordion-arrow-before.svg);
}

.faq .container .faq-inner .main-faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #111111;
  background: none;
}

.faq .container .faq-inner .main-faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url(/careerprogram/assets/img/accordion-arrow-after.svg);
}

.faq .container .faq-inner .main-faq .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}

.faq .container .faq-inner .main-faq .accordion .accordion-item .accordion-collapse {
  border-bottom: none;
}

.faq .container .faq-inner .main-faq .accordion .accordion-item .accordion-collapse .accordion-body {
  margin-top: 24px;
  padding: 44px;
  background-color: #F7F7F7;
  border-radius: 10px;
  letter-spacing: .5px;
}

.faq .container .faq-inner .main-faq .icon-faq {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  margin-left: 24px;
}

.faq .container .faq-inner .main-faq .icon-faq .wrapper-icon img {
  width: 100%;
}

.faq .container .faq-inner .next-information p a {
  text-decoration: none;
  color: #C0262B;
  font-weight: 700;
  letter-spacing: .5px;
}

.faq .container .faq-inner .next-information p a:hover {
  transition: .3s;
  color: #a12a2a;
}

@media screen and (min-width: 992px) {
  .hero .container .hero-wrapper .content-hero .main-text-hero h1 {
    font-size: 46px;
  }
  .hero .container .hero-wrapper .content-hero .main-text-hero p {
    max-width: 320px;
  }
  .hero .container .hero-wrapper .content-hero .main-follow-hero .images-profil {
    max-width: 42%;
  }
  .hero .container .hero-wrapper .images-hero .wrapper-hero-images {
    display: flex;
    justify-content: flex-end;
  }
  .hero .container .hero-wrapper .images-hero .wrapper-hero-images img {
    width: 100%;
  }
  .hero .container .hero-wrapper .images-hero .wrapper-icon {
    bottom: -52px;
    left: -85px;
    width: 70%;
  }
  .point-of-career .container .wrapper-point .wrapper-content-inner .text-point-inner .title-point-career h1 {
    width: 60%;
    font-size: 46px;
  }
  .best-program .container .wrapper-best-program .inner-best-program {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container .hero-wrapper .content-hero .main-text-hero h1 {
    font-size: 52px;
  }
  .hero .container .hero-wrapper .content-hero .main-text-hero p {
    max-width: 380px;
  }
  .hero .container .hero-wrapper .content-hero .main-follow-hero .images-profil {
    max-width: 35%;
  }
  .hero .container .hero-wrapper .images-hero .wrapper-icon {
    bottom: -52px;
    left: -125px;
    width: 60%;
  }
  .point-of-career .container .wrapper-point .wrapper-content-inner .text-point-inner .title-point-career h1 {
    width: 60%;
    font-size: 56px;
  }
  .best-program .container .wrapper-best-program .inner-best-program {
    justify-content: space-between;
  }
  .best-program .container .wrapper-best-program .inner-best-program .program-list {
    max-width: 385px;
  }
}

@media screen and (min-width: 1400px) {
  .hero .container .hero-wrapper .content-hero .main-text-hero h1 {
    font-size: 64px;
  }
  .hero .container .hero-wrapper .content-hero .main-text-hero p {
    max-width: 480px;
  }
  .hero .container .hero-wrapper .content-hero .main-follow-hero .images-profil {
    max-width: 30%;
  }
  .hero .container .hero-wrapper .images-hero .wrapper-icon {
    bottom: -52px;
    left: -100px;
    width: 52%;
  }
  .point-of-career .container .wrapper-point .wrapper-content-inner .text-point-inner .title-point-career h1 {
    font-size: 64px;
  }
  .best-program .container .wrapper-best-program .inner-best-program {
    justify-content: space-between;
  }
  .best-program .container .wrapper-best-program .inner-best-program .program-list {
    max-width: 474px;
  }
}
/*# sourceMappingURL=career.css.map */